html{
    background-color: #ffffff;
}

body {
    background: #ffffff;
    font-family: Soleil, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1{
    font-weight: bold;
    color: #00B7FF
}
a {
  color: #00B7FF;
}

.filterOptions ul{
    list-style: none;
}

.filterOptions li{
    display: inline;
    float: right;
    margin-right: 5px;
}

input {
    text-align: left;
    padding: 10px;
    width: 429px;
    height: 31px;
    font-family: Soleil;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    color: #c6d1e0;
}

input:focus {outline: none; }

input a{
    color: #4d5b6a;
}

.header{
    background-color: #ffffff;
    width: 100%;
    height: 200px;
}

.searchBox{
    max-width: 40%;
    min-width: 250px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #c6d1e0;
    margin-top: 20px;
}


.Looking-for-someone {
    height: 44px;
    font-family: Soleil;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #4d5b6a;
    margin-bottom: 20px;
    padding: 50px;
}

.filters{
    border: 1px solid;
    padding: 40px;
    width: 90%;
}

.filterOptions{
    width: 91%;
    height: 48px;
    font-family: Soleil;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.1px;
    color: #4d5b6a;
}

#favImg{
    height: 40px;
    border-radius: 5px;
    background:  #00B7FF;
    border: 1px solid  #00B7FF;
    font-size: 14px;
    color: #ffffff;
    line-height: 3;
}

.filterOptions span{
    float: left;
    margin: 2px;
}

#filterBtn {
    color: #1fb6ff;
    float: left;
    position: static;
}

.groupBy{
    display: -webkit-box;
    font-size: 34px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #1fb6ff;
    width: 90%;
}


#ViewChange{
    float: right;
}

.userCards{
    height: 280px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 3.5px;
    display: -webkit-inline-box;
    position:relative;
    top:0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:20px 0;/* padding height of header/footer */
    box-sizing:border-box;
    background-color: #fff;
}

.userCardsContent #fav {
    float: left;
}

.userCards:hover{
    border: 1px solid #1fb6ff;
}

.horizontalUserCards{
    max-width: 90%;
    min-width: 850px;
    height: 90px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #c6d1e0;
    margin-bottom: 5px;
}

.horizontalUserCards:hover{
    border: 1px solid #1fb6ff;
}

.horizontalContent{
    padding: 15px;
    height: 100%;

}

.horizontalContent #userPicture{
    width: 64px;
    height: 64px;
}

.horizontalContent #secZero{
    line-height: 3.5;
    width: 5%;
}

.horizontalContent #secOne{
    width: 15%;
    float: left;
    line-height: 4;
}

.horizontalContent #secTwo{
    width: 20%;
    float: left;
    line-height: 3.6;
    font-size: 16px;
    font-weight: bold;
    overflow:hidden !important;
    text-transform: capitalize;
}

.horizontalContent #secThree{
    width: 25%;
    float: left;
    line-height: 4;
}

.horizontalContent #secFour{
    width: 25%;
    float: left;
    line-height: 4;
}

.horizontalContent #secFive{
    width: 10%;
    float: left;
    line-height: 4;
}

.horizontalContent #viewMoreBtn {
    background-color: #1fb6ff;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    line-height: normal;
    padding: 0;
}


#userName{
    font-weight: bold;
    text-transform: capitalize;
}

 #userPicture {
     width: 80px;
     height: 80px;
     border-radius: 100px;
}

.userCardsFooter{
    position:absolute;
    width:100%;
    height: 50px;
    padding: 12px;
    bottom: 0;
    right: 0;
    border-top: 1px solid #ddd;
}

#viewMoreBtn {
    background: none;
    border: none;
    width: 100%;
}

#viewMoreBtn:focus {outline: none; }

.userCardsFooter:hover{
    background-color: #1fb6ff;
    color: #ffffff;
}

.userCardsHeader{
    position:absolute;
    padding: 20px;
    height: auto;
    width:100%;
    top: 0;
}

.userCardsHeader p{
    display: -webkit-inline-box;
    float: right;
}

.userCardsContent p{
    display: -webkit-inline-box;
    height: 48px;
    font-family: Soleil;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.1px;
    color: #3c4858;
}

.modal-body{
    padding: 50px;
}

.modal-content{
    border-radius: 4px;
    max-width: 520px;
    min-width: 220px;
}

.modal-header {
    border-bottom: none;
    margin-top: 20px;
    margin-bottom:  -20px;
}

.modal-header #userPicture {
    width: 135px;
    height: 135px;
}

.modal-header #userName {
    font-size: 24px;
}

.modal-body #userDetails{
    line-height: 3;
    border-bottom: 1px solid #c6d1e0;
    margin-bottom: 10px;
}

.modal-body #title{
    height: 27px;
    font-family: Soleil;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    color: #c6d1e0;
    float: left;
    text-align: center;
}

.modal-body #detail{
    width: 141px;
    height: 27px;
    font-family: Soleil;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: -0.1px;
    color: #3c4858;
    text-align: center;
}

#myFavModal .modal-content{
    max-width:960px;
    min-width: 220px;
}

#myFavModal .modal-body{
    padding: 0px;
}